{% extends 'base.html.twig' %}

{% block title %}Multi user blog | homepage{% endblock %}

{% block body %}
    <!-- featured
    ================================================== -->
    <section class="s-featured">
        <div class="row">
            <div class="col-full">
                {% if promotedPosts|length > 0 %}
                <div class="featured-slider featured" data-aos="zoom-in">
                    {% for post in promotedPosts %}
                    <div class="featured__slide">
                        <div class="entry">
                        jest
                            <div class="entry__background" style="background-image:url('{{ asset('images/thumbs/post/') }}{{ post.mainImageFilename }}');"></div>

                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">{{ post.category.name }}</a></span>

                                <h1><a href="#0" title="">{{ post.title }}</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="{{ asset('images/avatars/') }}{{ post.user.profile.avatarImageFileName }}" alt="">
                                    </a>
                                    <ul class="entry__meta">
                                        <li><a href="#0">{{ post.user.username }}</a></li>
                                        <li>{{ post.createdAt|date("m/d/Y") }}</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->
                    </div> <!-- end featured__slide -->
                    {% endfor %}
                </div> <!-- end featured -->
                {% endif %}



            </div> <!-- end col-full -->
        </div>
    </section> <!-- end s-featured -->


    <!-- s-content
    ================================================== -->
    <section class="s-content">

        <div class="row entries-wrap wide">
            <div class="entries">
            {% if posts|length > 0 %}
                {% for post in posts %}
                <article class="col-block">
                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <a href="#" class="item-entry__thumb-link">
                                <img src="{{ asset('images/thumbs/post/') }}{{ post.mainImageFilename }}"
                                     srcset="{{ asset('images/thumbs/post/') }}{{ post.mainImageFilename }} 1x, {{ asset('images/thumbs/post/') }}{{ post.mainImageFilename }} 2x" alt="">
                            </a>
                        </div>

                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="#">{{ post.category.name }}</a>
                            </div>

                            <h1 class="item-entry__title"><a href="#">{{ post.title }}</a></h1>

                            <div class="item-entry__date">
                                <a href="#">{{ post.createdAt|date("m/d/Y") }}</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->
                {% endfor %}
            {% else %}
                <span class="no-posts">Blog don't have any active posts</span>
            {% endif %}

            </div> <!-- end entries -->
        </div> <!-- end entries-wrap -->

        <div class="row pagination-wrap">
            <div class="col-full">
                <nav class="pgn" data-aos="fade-up">
                    <ul>
                        <li><a class="pgn__prev" href="#0">Prev</a></li>
                        <li><a class="pgn__num" href="#0">1</a></li>
                        <li><span class="pgn__num current">2</span></li>
                        <li><a class="pgn__num" href="#0">3</a></li>
                        <li><a class="pgn__num" href="#0">4</a></li>
                        <li><a class="pgn__num" href="#0">5</a></li>
                        <li><span class="pgn__num dots">…</span></li>
                        <li><a class="pgn__num" href="#0">8</a></li>
                        <li><a class="pgn__next" href="#0">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </section> <!-- end s-content -->
{% endblock %}
